<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!--- Basic Page Needs -->
        <meta charset="utf-8" />
        <title>The Conquest 2 - Dota2 Tournament</title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/default.css" />
        <link rel="stylesheet" href="../static/css/layout.css" />
        <link rel="stylesheet" href="../static/css/media-queries.css" />
        <link rel="stylesheet" href="../static/css/magnific-popup.css" />
        <!-- Script -->
        <!-- Favicons -->
        <link rel="shortcut icon" href="../static/images/favicon.png" />
        <script>
            let counter = 2;
            let limit = 7;
            function addPlayer() {
                if (counter > limit) {
                    alert("You have reached the limit of adding players");
                } else {
                    let newDiv = document.createElement("div");
                    newDiv.innerHTML = "<label for='player" + counter + "'>Player " + counter + " </label>\n" +
                        "<input type='text' size='35' id='player" + counter + "' " + "name='player" + counter + "' autofocus required>";
                    document.getElementById("registerForm").appendChild(newDiv);
                    newDiv = document.createElement("div");
                    newDiv.innerHTML = "<label for='player" + counter + "_id'>Player " + counter + " Steam Friend ID</label>\n" +
                        "<input type='text' size='35' id='player" + counter + "_id' " + "name='player" + counter + "_id' autofocus required>";
                    document.getElementById("registerForm").appendChild(newDiv);
                    counter++;
                }
                if (counter === limit + 1) {
                    document.getElementById("addPlayerDiv").removeChild(document.getElementById("addPlayer"));
                }
            }
            function validateForm() {
                for (let i = 2; i <= 5; i++) {
                    if (document.getElementById("player" + i)) {
                    } else {
                        alert("Roster must contain a minimum of 5 plauyers!");
                        return false;
                    }
                }
                return true;
            }
        </script>
    </head>
<body>
    {% block content %}
    {% endblock content %}
    <!-- Contact Section Start -->
    <section id="contact">
        <div class="row section-head">
            <div class="two columns header-col">
                <h1><span>Contact</span></h1>
            </div>
            <div class="ten columns">
                <p class="lead">For any support contact</p>
                <ul>
                    <li>Sanjay 'CPD.FuckingGeekboy' : +918056940831</li>
                    <li>Sathish 'CPD.bUMbLEbEE' Babu : +919445512087</li>
                    <li>Sundar 'CPD.Sasuke' : +919443987700</li>
                    <li>Vicky 'CPD.CR7' Shan : +917339569470</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Contact Section End-->
    <!-- Footer Start -->
    <footer>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/conquest.conquest.98837" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/cpd_conquest/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCYbzNP4cggx1DKhfjr7DoBA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Copyright 2014 CeeVee</li>
                    <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer End-->
</body>
</html>