<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
    <ul id="nav" class="nav">
        <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
        <li><a class="smoothscroll" href="#register">Register</a></li>
        <li><a class="smoothscroll" href="#contact">Contact</a></li>
        <li><a class="smoothscroll" href="/registered_teams">Teams</a></li>
        <li><a class="smoothscroll" href="/team_status">Team Status</a></li>
    </ul>
</nav>