{% extends 'base.html' %}

{% block content %}

    <header>
        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Registered Teams</h1>
                <br>
            </div>
            <ul class="social">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
            </ul>
        </div>
    </header>
    <section id="register">
        <div class="row">
            <div class="eight columns">
            {% if teams %}
                {% for team in teams %}
                    <h3>{{ team.name }}</h3>
                    <h1>Roster</h1>
                    <ul id="teams">
                        {% for player in team.roster %}
                            {% if player %}
                                <li>{{ player }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                {% endfor %}
            {% else %}
                <h2 class="no-teams">No teams have registered yet!</h2>
            {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}